!!! 5
%head
    %link{:href => "style.css", :rel => "stylesheet"}
    %style
%body
    %header
        %h1
    %section
        %p lorem ipsum dolor sit amet    
    %img{:src => "933301.jpg", :alt => "shay Howe"}
    %section.feature
    %section.feature.special
    %section#hello
    %section#hello:feature(role="region")
    .awesome
    .new
    .awesome.lesson
    #getting-started.lesson
    %input{:type => "checkbox", :checked => true}
    %input(type="checkbox" checked=true)
    %input(type="checkbox" checked)

    .author
        = @author
        \=@author
        %span
            Amir is smart
            = succeed "." do
                %a{:href => "#"} awesome
    %div
        /commented line
        Actual line
    /
        %div
            commented block
    /[if lt IE 9]
        %script{:src => "html5shiv.js"}
    %div
        -# Removed line
        Actual line
    :javascript
        $('button'.on('click', function(event){
            $('p').hide('slow');
        }));
    %div
        %p
            bonjour ici
    %section
    :css
        .container {
        margin: 0 auto;
        width: 960px;
        }

  